<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="UTF-8">
	<title>Air Force Deuce</title>
</head>
<body>
	<header>
		<h1><a href="/">Air Force Deuce Whiteboard</a></h1>
	</header>
	<section>
		<form action="/search" method="GET">
			<input type="text" name="search" placeholder="Search here!">
			<button>Search</button>
		</form>
		<ul>
			<li><a href="/documents/new">Create a new page</a></li>
			<li><a href="/documents/<%= doc.first["id"] %>">Go to the first page</a></li>
			<li><a href="/documents/<%= doc.last["id"] %>">See the most recent page</a></li>
			<li><a href="/authors">Authors</a></li>
			<li><a href="/subscribers">Subscribers</a></li>
		</ul>
	</section>
	<div class="main">
				<h1>What really happened?</h1>
				<p>This entry, so far:</p><p><%= thisDoc["title"] %></p><p>On <%= thisDoc["story_date"] %> this happened: <%= thisDoc["content"] %></p>
		<form action="/documents/<%= thisDoc["id"] %>" method="POST">
			<input type="hidden" name="_method" value="PUT">
			<input type="text" name="title" placeholder="<%= thisDoc["title"] %>">
			<input type="date" name="story_date" placeholder="<%= thisDoc["story_date"] %>">
			<textarea id="contentform" type="test" name="content" placeholder="Markdown is enabled"><%= thisDoc.content %></textarea>
			<select name="editor">
				<% authors.each do |author| %>
					<option value="<%= author["name"] %>"><%= author["name"] %></option>
				<% end %>
			</select>
			<button>Change it!</button>
		</form>
	<div class="line"></div>
		<h1>Older versions of this page:</h1>
		<p><%= thisDoc["edit"] %>
	<div class="line"></div>
		<form action"/documents/edit/<%= thisDoc["id"] %>" method="post">
			<input type="hidden" name="_method" value="DELETE">
			<button>Delete this post</button>
		</form>
		
	</div>

				
	
</body>
</html>