<h1><%= thisAuth["name"] %>'s contributions</h1>
<div class="line"></div>
	<% if thisAuth.docs.length < 1 %>
		<p><%= thisAuth["name"] %> hasn't written anything yet. <a href="/documents/new">Click here to contribute.</a>
		</p>
	<% else %>
		<ul>
			<% thisAuth.docs.each do |document| %>
				<li><a href="/documents/<%= document["id"] %>"><%= document["title"] %></a>
				</li>
			<% end %>	
		</ul>
	<% end %>
<div class="line"></div>
<h1>Edit <%= thisAuth["name"] %>'s name</h1>
	<form action="/authors/<%= thisAuth["id"] %>" method="POST">
		<input type="hidden" name="_method" value="PUT" />
		<input type="text" name="name" placeholder="<%= thisAuth["name"] %>" required="required">
		<button>Submit</button>
	</form>

